<ul class="list-inline">
  <li><h1>
    Users : {{users.length}}
  </h1></li>
  <li><button class="btn btn-success">Add</button></li>
</ul>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Login</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Roles</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" [user]="user"></tr>
  </tbody>
</table>
