<th>{{user.login}}</th>
<th>{{user.firstName}}</th>
<th>{{user.lastName}}</th>
<th>
  <ul class="list-inline">
    <li *ngFor="let role of user.roles">{{role.name}}</li>
  </ul>
</th>
<th>
  <ul class="list-inline">
    <li><button class="btn btn-primary">Edit</button></li>
    <li><button class="btn btn-danger">Delete</button></li>
  </ul>
</th>
